<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLyHSHSConnectionString"
            connectionString="Data Source=LAPTOP-VG3980JN\NGUYENHUNGCUONG;Initial Catalog=QuanLyHSHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.quanlyhshsConnectionString1"
            connectionString="Data Source=LAPTOP-08FUB1Q3\NGUYENHUNGCUONG;Initial Catalog=quanlyhshs;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>